---
import goodreadsIcon from '../icons/goodreads.svg?raw'
import anilistIcon from '../icons/anilist.svg?raw'
import telegramIcon from '../icons/telegram.svg?raw'
import githubIcon from '../icons/github.svg?raw'
import styles from './Footer.module.scss'

const socials = [
  {
    name: 'Goodreads',
    href: 'https://www.goodreads.com/user/show/176691975-masterzack',
    icon: goodreadsIcon,
  },
  {
    name: 'AniList',
    href: 'https://anilist.co/user/MasterZack',
    icon: anilistIcon,
  },
  {
    name: 'Telegram',
    href: 'https://t.me/BabaZack',
    icon: telegramIcon,
  },
  {
    name: 'GitHub',
    href: 'https://github.com/MasterZack69',
    icon: githubIcon,
  },
]

const year = new Date().getFullYear()
---

<footer class={styles.footer}>
  <p class={styles['footer-note']}>
    &copy; {year} MasterZack&apos;s JeevanKatha
  </p>
  <ul class={styles.socials} aria-label="Social links">
    {
      socials.map((s) => (
        <li>
          <a
            href={s.href}
            target="_blank"
            rel="noopener noreferrer"
            class={styles['social-link']}
            aria-label={s.name}
            title={s.name}
          >
            <span class={styles['social-icon']} set:html={s.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
